body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rodContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 350px;
    border: black 2px solid;
}

.rods {
    width: 15px;
    height: 65%;
    background: black;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.disks {
    height: 25px;
    border-radius:  7px;
    border: black 2px solid;
}

.disks:active {
    border: grey 2px solid;
}

#diskLarge {
    width: 150px;
    background-color: blue;
}
#diskXL {
    width: 200px;
    background-color: green;
}

#diskMedium {
    width: 100px;
    background-color: red;
}

#diskSmall {
    width: 50px;
    background-color: yellow;
}
